body{margin: 0;padding: 0}
h1,h2,h3,h4,h5,h6,button{font-style:normal; font-weight:normal;  font-size: 100%;}
li,ul,ol{list-style: none;}
ion-header-bar{z-index: 999!important;}
.fl{ float: left !important;}
.fr{ float: right !important;}
.cl{clear: both}
.white{font-size: 20px !important;}
.fcwhite{color: #fff !important;}
.fcblack{color: #000 !important;}
.fcgrey{color: #a6a6a6 !important}
.swiper-bgc{border-bottom: 2px solid #00ABF3;color: #00ABF3;}
/*.bar.bar-header{ background:url('../img/tabs/bg.png');margin:0!important;}*/
.bar.bar-stable .title{color:#000;}
.bar-stable .button.button-clear{color:#fff!important;}
/*tabs */
ion-tabs.tabs-color-active-positive .tab-item.tab-item-active, ion-tabs.tabs-color-active-positive .tab-item.active, ion-tabs.tabs-color-active-positive .tab-item.activated{color: #00ABF3;}
.tab-home{ background: url("../img/tabs/tab_home.png") no-repeat center; background-size: 25px;}
.tab-home-active{ background: url("../img/tabs/tab_home_active.png") no-repeat  center; background-size: 25px;}

.tab-lottery{ background: url("../img/tabs/lottery.png") no-repeat center; background-size: 25px;}
.tab-lottery-active{ background:  url("../img/tabs/lottery_active.png") no-repeat center; background-size: 25px;}

.tab-news{ background: url("../img/tabs/news.png") no-repeat center; background-size: 25px;}
.tab-news-active{ background:  url("../img/tabs/news_active.png") no-repeat center; background-size: 25px;}

.tab-movements{ background: url("../img/tabs/movements.png") no-repeat center;background-size: 25px;}
.tab-movements-active{ background:  url("../img/tabs/movements_active.png") no-repeat  center; background-size: 25px;}

.tab-account{ background: url("../img/tabs/account.png") no-repeat center; background-size: 25px;}
.tab-account-active{ background:  url("../img/tabs/account_active.png") no-repeat center; background-size: 25px;}
.bar.bar-positive{background-color:#00ABF3;color:#fff;}
.bar.bar-red{background-color:#d63138;}
.bar-positive .button{border-color:transparent;background: none}
.slider-pager .slider-pager-page{ color:#2DC1F7 }
/*首页*/
#home .row{background-color: #fff;border-bottom: 10px solid #f1f1f1}
#home .plan .col-50{text-align: center;}
#home .plan .col-50 > div{width: 100%;height: 40px; background: url(../img/home/plan_bg1.png) center no-repeat;background-size: 100% 100%;color: #fff;position: relative}
#home .plan .col-50:last-child > div{width: 100%;height: 40px; background: url(../img/home/plan_bg2.png) center no-repeat;background-size: 100% 100%;color: #fff}
#home .plan .col-50 > div div{ width:100px;height: 40px;margin: 0 auto; }
#home .plan .col-50 > div div img{ display: block;width: 30px; height: 30px;margin-top: 5px}
#home .plan .col-50 > div div h1{width:auto;display:block;height:40px; line-height:42px;margin: 0;color: #fff}
#home .plan .col-50:last-child > div div h1{width:auto;display:block;height:40px; line-height:42px;margin: 0;color: #fff}
#home  .playing-method{width: 100%;height: auto;overflow: hidden;margin-top: 10px}
#home  .playing-method li{width: 95%;height:90px;background: url(../img/home/lottery_bg1.png) center no-repeat;background-size:100% 100%; margin: 0 auto 10px;position: relative;
padding:5px 10px 0 5px;color: #fff;}
#home  .playing-method li img{width: 50px;height: 50px;position: absolute;top: 50%;margin-top: -25px; border-radius: 50%;
    -moz-box-shadow:1px 0px 9px #FFFFFF, 1px 0px 0px #FFFFFF, 1px 2px 20px #FFFFFF; -webkit-box-shadow:1px 0px 9px #FFFFFF, 1px 0px 0px #FFFFFF, 1px 2px 20px #FFFFFF;
    box-shadow:1px 0px 9px #FFFFFF, 1px 0px 0px #FFFFFF, 1px 2px 20px #FFFFFF;}
#home  .playing-method li div{padding-left: 60px; padding-top: 5px;font-size: 13px}
#home  .playing-method li .countdown > span:first-child{font-size: 16px}
#home  .playing-method li span span{display: inline-block;width: 16px;height: 16px; background:url(../img/home/num_bg.png) center no-repeat;background-size:100% 100%;
text-align: center;line-height: 16px;border-radius: 50%;vertical-align: middle}
#home  .playing-method li:last-child{background: url(../img/home/lottery_bg2.png) center no-repeat;background-size:100% 100%;}
#home  .playing-method li .date span:last-child{font-size: 16px}
#home  .playing-method li .date span:nth-child(3){font-size: 16px}
#home  .playing-method li .period span:last-child span{background:#fff;color: #F19A33}
#home .blue img{ display: block}
#home .last-res{width: 90%;margin-left: 5%;}
#home .last-res p{margin: 5px 0;font-size:14px;}
#home .last-res ul {overflow: hidden;}
#home .last-res ul li{ background:url("../img/home/redball.png");background-size:100% 100%;float: left;position: relative;width: 28px;height: 28px;line-height: 34px;text-align: center;}
#home .last-res ul li img{position: absolute;top: 0;left: 0;width: 30px;}
#home .about-plans{ background-color:#FFF7F0;}
#home .about-plans > div{ background: transparent;width: 70%;margin-left: 15%;overflow:hidden;}
#home .about-plans > div >div {float: left;width: 50%;text-align: center;}
#home .about-plans > div >div img{width:40px;max-height:50px;}
#home .his-list {width: 100%;margin-top: 10px;}
#home .his-list ul li{width: 100%;overflow: hidden;padding-bottom: 5px;padding-left:10px;padding-right:10px;}
#home .his-list ul li > p{ font-size: 16px;margin-bottom: 5px;}
#home .his-list ul li > div{width: 100%;position: relative;}
#home .ding{display: inline-block;border: 1px solid #4a8af4;color: #4a8af4;border-radius: 50%;width: 16px;line-height: 16px;}
#home .his-list .his-list-details > p {float:left;margin-bottom: 2px;}
#home .his-list .his-list-details > div {float:left;margin-bottom: 2px;}
#home .his-list .his-list-details > span {float:left;margin-bottom: 2px;}
#home .his-list ul li > div span{margin:0 5px;}
#home .pro-line {width: 30%;height:4px;margin-right: 10px;display: inline-block;background-color: #d8a;margin-top: 8px;margin-right: 5px;float: right;}
#home .pro-line-num {float: right; }
.plan-head{position: relative;}
.plan-head img{vertical-align: top;}
.plan-head div{position: absolute;top: 0;left: 0;z-index: 20;padding-left: 10px; color: #f1f1f1;}
.plans-chosed{width: 94%;margin:15px 3% 30px 3%;}
.plans-chosed ul{overflow: hidden;width: 100%;}
.plans-chosed ul li{color:#666;float:left; border: 1px solid #535353;border-radius: 3px;margin:3px; padding: 0 10px;text-align: center;font-size: 10px;}
.plans-all{margin: 15px 0;}
.plans-all p {margin-left: 3%;}
.plans-all ul{margin-bottom: 15px;border-top:1px dashed red;overflow: hidden;padding: 5px 3%; width: 100%;}
.plans-all ul li{color:#666;float:left; border: 1px solid #535353;border-radius: 3px;margin:3px; padding: 0 10px;text-align: center;font-size: 10px;}
.pay-confirm-list .list label{padding:10px 10px 8px 10px;}
.pay-confirm-list .list label >div:first-child i{ float:right;}



.swiper-container {
    width: 100%;
    height: auto;
}
.swiper-slide {
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}


.txtMarquee-left{ width:100%;  position:relative; }
.txtMarquee-left .bd{ padding:10px; }
.txtMarquee-left .bd .tempWrap{ width:100% !important; }/* 用 !important覆盖SuperSlide自动生成的宽度，这样就可以手动控制可视宽度。 */
.txtMarquee-left .bd ul{ overflow:hidden; zoom:1; }
.txtMarquee-left .bd ul li{ margin-right:20px;  float:left; height:24px; line-height:24px;  text-align:left; _display:inline; width:auto !important;  }/* 用 width:auto !important 覆盖SuperSlide自动生成的宽度，解决文字不衔接问题 */
.txtMarquee-left .bd ul li a p{display: inline;white-space:nowrap;}
.txtMarquee-left .bd ul li span{ color: red}
/*历史开奖*/
.lottery{height: 30px;padding: 0}
.lottery ul{width: 100%; height:30px;}
.lottery ul > li{width: 88px; height:30px;margin: 0 auto; line-height: 30px;position: relative}
.lottery ul > li div{width: 100%;height: 30px;}
.lottery ul > li div i{padding-left: 5px}
.lottery ul > li ul{position: absolute;width: 100%; height: auto;border: 1px solid #dbdbdb;border-top:0 }
.lottery ul > li ul li{width: 100%;height: 30px;text-align: center}


/*个人中心start*/
#account .head-portrait{z-index:9999;position: absolute; right: 0; width: 100%; height:170px; background:url('../img/tabs/bg.png'); background-size:100% 100%;text-align: center; }
#account .head-portrait .account-user-pic{text-align: center; width: 90%; margin: 20px auto;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
#account .head-portrait .account-user-pic img{ width:70px; height: 70px; border-radius: 70px; border: 2px solid #fff;margin: 5px auto;}
#account .head-portrait .account-user-pic p{overflow: hidden; color: #646464; margin: 4px 0;text-align: center;}
#account .head-portrait .account-user-pic .user-login{ border: 1px solid #fff; border-radius: 10px; padding:3px 8px; margin:0 10px;}
#account .head-portrait .account-user-pic p:last-child{font-size: 13px}
/*#account .program{margin-top: 203px;}*/
/*#account .program .part{margin-bottom: 20px;position: relative}*/
#account .program .part img{height:50px;width: 50px;}
#account .program .part span{position: absolute;top:20px;left:90px;}
#account .program .part i{float: right;margin-right: 20px;font-size: 1.4em;margin-top: 5px;color: #a5a4a4;}
#account .head-portrait .account-user-pic  p:last-child .renew{display: inline-block;width: 40px;height: 20px;text-align: center;border-radius: 3px;border: 1px solid #fff;
margin-left: 5px;font-size: 13px;line-height: 20px}
/*个人中心end*/
.lottery select{display: block;width:auto;margin: 0 auto;border: 0;height: 28px;}
#lottery ul{ width: 100%;height: auto;overflow: hidden;padding-top: 10px;background: none;}
#lottery ul li{ width: 100%;height: 70px;border-bottom: 1px solid #e5e5e5;border-top:1px solid #e5e5e5;background-color: #fff;padding:10px;margin-bottom: 10px }
#lottery ul li div:first-child span:last-child{color: #939393}
#lottery ul li div:last-child{padding-top: 5px}
#lottery ul li div:last-child span{display: inline-block;width: 25px;height: 25px;border-radius:50%;background-color:#00BFFD;text-align: center;line-height: 25px;vertical-align: middle;color: #fff;margin-left: 5px;}
#lottery ul li div:last-child span:first-child{margin-left: 0}
/*service modal*/
.modal-backdrop{background: rgba(0,0,0,.64) !important;}
.area{height:300px;width:70%;background: #fff;text-align: center;margin:50% auto;padding:20px;border-radius: 8px;border:1px solid grey}
.area img{height:50px;width:50px;}
.area .wx{width: 150px;height: 150px}
/*推荐方案start*/
.part{padding:2px 0 0px 20px;}
.part1{overflow: hidden;margin:0 auto;}
.part2{overflow: hidden;margin:0 auto}
.part1 .program1{background: url('../img/recommend/bg1.png');height:45px;float: left;width: 30%;margin:0 1.5% 2%;color:#fff;text-align: center;line-height: 45px;}
.part2 .program2{background: url('../img/recommend/bg2.png');height:45px;float: left;width: 30%;margin:0 1.5% 2%;color:#fff;text-align: center;line-height: 45px;}
#the-star{display: block;height: 74px}
#the-star .row{padding: 6px 0 0 0;border-top:1px solid #ddd}
#the-star .row .col{padding: 0}
#the-star .row .col button{display: block;width: 90%;height: 30px;margin: 0 auto;background-color: #2DC1F7;border: 0;color: #fff}
.recommend-active{background-color: #E3B56E !important;}
/*推荐方案end*/

/*方案详情start*/
.ion-more{color: #fff;font-size: 28px;right:10px;position: absolute;line-height: 34px;}
.selectBox{background:url('../img/tabs/bg.png');border:1px solid grey;border-radius:4px;width: 44px;  text-align: center; padding: 0;position: absolute;right:1px;top:42px;}
.selectBox p{margin-top: 8px;color:#fff;font-size: 12px;width: 100%;}
.selectBox .outer{border-bottom:14px solid grey;border-left:10px solid transparent;border-right:10px solid transparent;position: absolute; top: -13px; right: 10px;}
.selectBox .inner{border-bottom:14px solid #2DC1F7;border-left:10px solid transparent;border-right:10px solid transparent;position: absolute; top: -12px; right: 10px;}
.details p{line-height: 35px;color:#2DC1F7; margin:0 auto;}
#details ul{padding: 10px}
#details ul li{ line-height: 25px;font-size: 14px;font-family: Consolas, Monaco, monospace;}
#details ul li div{display: inline-block;}
.pk10detailslottery{overflow:hidden;border: 1px solid red;}
.pk10detailslottery li{float:left;border-right:1px solid red;width:20px;text-align: center;}
#details .last-res{width: 90%;margin-left: 5%;margin-top: 5px;}
#details .last-res p{font-size:14px;margin-bottom:0!important;}
#details .last-res ul {overflow: hidden; padding:0;}
#details .last-res ul li{background-size:100% 100%;color:#fff;float: left;position: relative;width: 28px;height: 28px;line-height: 28px;text-align: center;border-radius:28px;background-color:#00ABF3;}
#details .last-res ul li img{position: absolute;top: 0;left: 0;width: 30px;}
#details .middle-box{background-color: #F1F9FF;}

#details .middleul1 {overflow: hidden;width: 100%;padding: 3px 10px;}
#details .middleul1li { margin:0;font-size: 10px;float: left;width: 25%;}
#details .middleul1li span{color: #00ABF3;}

#details .middleul2 {overflow: hidden;width: 100%;padding: 3px 10px;}
#details .middleul2 li{ margin:0;font-size: 10px;float: left;width: 25%;}
#details .middleul2 li span{color: #00ABF3;}
#details .righttime { display: inline-block;color: #f00;border: 1px solid #f00;border-radius: 50%;width: 16px;height: 16px;line-height: 16px;text-align: center;margin-right: 5px;}
.details-yellbg{padding:10px;background-color:#F8FFD3;}
.details-yellbg p{ margin:2px 5px;display: inline-block;}
.details-yellbg p span{ color: red;}
.next-time{display: block;height: 65px;padding:5px 0 0 0}
.next-time div{font-size: 12px;color: #2DC1F7;width: 100%;padding:0 5px}
.next-time div:last-child{background-color: #2DC1F7;color: #fff;padding-left: 10px}
.searchway-ul1{}
.searchway-ul1 li  input{ border: 1px solid #d3d3d3;width:60px;border-radius: 5px;margin-left: 5px;text-align: center;padding: 0 5px;display: inline-block;}
.filesearch{padding: 0 10px;color: #1480e5;font-size: 14px;line-height: 20px!important;}
.filesearch i{font-size: 16px;line-height: 20px!important;}
.filesearch-block{overflow: hidden;padding: 20px 10px 50px 10px;}
.filesearch-block li{ float: left;width: 8%;margin:0 1%;text-align: center;font-size: 14px;line-height: 25px;}
.search-chose1{color: #fff;background-color: #1480e5;}
.search-chose2{color: #000;background-color: #fff; border: 1px solid #d3d3d3;}
/*开奖走势*/
.movements .row{padding: 0}
.movements .col-20{font-size: 13px;padding: 0;text-align: center;line-height: 34px}
.periods{border: 0;background: none;color: #fff}
.periods option{color: #000}
.heading{margin-top: 44px;padding: 0;background-color:#00AEF5;}
.heading > div{color: #fff;border-right:1px solid #fff;font-size: 13px}
.heading > div:nth-child(1){width: 23%;background:transparent;line-height: 40px;text-align: center;}
.heading > div:nth-child(2){width: 15%;background:transparent;line-height: 40px;text-align: center;}
.heading > div:nth-child(3){width: 62%;background:transparent;border: 0}
.heading > div:nth-child(3) h1{width: 100%;height: 20px;margin: 0;padding: 0;border-bottom: 1px solid #fff;line-height: 20px;color: #fff;font-size: 13px;text-align: center}
.heading > div:nth-child(3) div{width: 100%;height: 24px;overflow: hidden;}
.heading > div:nth-child(3) div span{display:inline-block;width: 10%;height: 24px;line-height: 24px;border-right: 1px solid #fff;text-align: center;}
.heading > div:nth-child(3) div span:last-child{border: 0}
#movements .container{width: 100%;height: auto;overflow: hidden;padding-top: 88px}
#movements ul{width: 100%;height: auto;overflow: hidden;padding: 0; border-bottom: 1px solid #d3d3d3}
#movements ul li{width: 100%;height: 24px;border-bottom: 1px solid #f1f1f1}
#movements ul li > div{border-right:1px solid #f1f1f1;height: 24px}
#movements ul li > div:nth-child(1){width: 23%;line-height: 24px;text-align: center;}
#movements ul li > div:nth-child(2){width: 15%;line-height: 24px;text-align: center;}
#movements  ul li > div:nth-child(3){width:62%;height: 24px;overflow: hidden;}
#movements  ul li > div:nth-child(3) > span{display:inline-block;width: 10%;height: 24px;line-height: 24px;border-right: 1px solid #f1f1f1;text-align: center;position: relative}
#movements ul li > div:nth-child(3) > span:last-child{border: 0}
.span-active{display: inline-block;width:20px; height:20px;background-color: #FFB231; line-height: 20px; border-radius: 50%;color: #fff;position: absolute;  left:0;top: 2px;
    z-index:4  }
.main-btn{width:100%;color:#fff;font-size:18px;height:35px;margin-top: 10px;line-height:35px;border-radius:20px;text-align:center;background-color:#00ABF3;overflow:hidden;}
#movements ul:last-child{border-bottom: 0}
.movements-active{ color: #00ABF3 !important;}
.ms{padding: 0;display: block;width: 100%;height:72px}
.ms > div{width: 100%;height: 24px;}
.ms > div div:first-child{width:38%;height: 24px; text-align: center;background-color: #00ABF3; color: #fff;border-bottom: 1px solid #000;line-height: 24px }
.ms > div div:last-child{width:62%;height: 24px; border-bottom: 1px solid #d3d3d3}
.ms > div div:last-child > span{display:inline-block;width: 10%;height: 24px;line-height: 24px;border-right: 1px solid #f1f1f1;text-align: center;}
.ms > div div:last-child > span:last-child{border: 0}
.ms > div:nth-child(1) div:last-child span{color:#09B3F3}
.ms > div:nth-child(2) div:last-child span{color:#FF9300 }
.ms > div:nth-child(3) div:last-child span{color:#FF3936}
#mycanvas{position: absolute;top: 88px;z-index: 3}
/*我的方案*/
#scheme .list{padding-top: 30px}
#scheme .list .button{background: none;color: #c3c3c3}
#scheme .item-thumbnail-left{min-height: 45px}
/*登录*/
/*#login ion-content{background: url(../img/login/login-bg.png) no-repeat center;background-size:100% 100%; }*/
#login .login-form{width: 80%;margin:30px auto;z-index: 333;}
#login .login-form label{height: 40px;border: 0 ;border-bottom: 1px solid #d3d3d3;margin-bottom: 5px;}
#login .login-form label input,i{ line-height: 26px;}
#login .forgetpwd{float: right;margin: 10px 0;font-size: 12px;color:#4a8af4;}
#login .login-form img{display: block;width: 120px;height:120px;margin: 0 auto 20px}
#login .login-form button{border: 0;background:#fff;color: #36C4F8;font-size: 16px;height: 40px; }
#login .other{width:100%;height:70px;position: absolute;bottom: 0;display: flex;display: -webkit-flex;justify-content:space-around;line-height: 70px;vertical-align: middle;z-index:inherit}
#login .other span{ color: #000;text-decoration:underline}
/*注册*/
#login .register .login-form{height: 460px;margin:10px auto;}
#login .register .code{margin-bottom:10px}
#login .register .code input{width:50%}
#login .register .code button{display: block;background: #fff;color: #000;width: 60%;height: 40px;text-align: center;line-height: 40px;border-radius: 6px}
/*验证邮箱*/
#verification-email div.hint{width: 100%;text-align: center;padding-top: 30px;}
#verification-email .complete button{font-size: 16px;}
#verification-email .validation{background: none;border: 0;color: #36C4F8}
.tishi-red{color: red}
/*重置密码*/
#login .reset .login-form{height: 370px;margin-top: -185px;}
.spinner svg {  width: 28px;  height: 28px;  stroke: #36C4F8;  fill: #36C4F8;  }
.back-up button{color: #fff !important;text-align: left !important;}
/*充值*/
#login .recharge .login-form{height: 280px;margin-top: -140px;}
.popup-body{text-align: center}
.popup-container{z-index: 999}
.keyboard-hide{display: none !important;}
/*绑定手机*/
#login .register.bind-phone .login-form{height: 300px;margin-top: -150px}
/*已绑定手机*/
#login .register.bind-phone .linked-phone{ text-align: center;height: 35px;width: 100%;}
#login .register.bind-phone .linked-phone span{display:block;width: 60%;height:35px;color:#36C4F8;line-height: 35px;background: #fff}
#login .register.bind-phone .linked-phone span:first-child{font-size: 20px;background: none;color: #fff}
#login .register.bind-phone .linked-phone span:last-child{display:block;width: 30%;border-radius: 6px;}
.feedback-type{overflow: hidden;}
.feedback-type label{width: 30%;margin:1.5%;background-color: transparent;float: left;}

/*支付方式*/
#payways .radio-content i{
    line-height: 60px;
}
/*咨询秘籍*/

#news{background-color:#ffffff;}
#news .new-box{width:100%;height:40px;margin-bottom:5px;}
#news .new-box .new-box-center{width:85%;height:35px;margin: auto;text-align: center;line-height:35px}
#news .new-box .new-box-center span{width: 50%;height:35px;float:left;letter-spacing:0.1em;border-radius:3px;margin-top:8px;background-color:#D0CCC7;color:#fff;}
#news .new-box .new-box-center .have-active{background:#00ABF3;color:#fff;}
#news .list-box{width:100%;padding-bottom: 10px;}
#news .list-box .list{width:100%;height: 40px;text-align: center;line-height:40px;background:#00ABF3;color:#fff;}
#news .list-box .list .list-left{width:30%;height:auto;float: left;margin-left: 10px;padding-right:20px;text-align: left}
#news .list-box .list .list-right{width:30%;height:auto;float: right;padding-left:50px;margin-right: 10px;}
#news .lists{width:100%;height: 40px;text-align: center;line-height:40px;background:#E7D1F0;margin-top: 50%}
#news .lists .list-left{width:30%;height:auto;float: left;color: #F587A2}
#news .lists .list-right{width:30%;height:auto;float: right;color: #645FF0}
#news .row{width:100%;height:35px;text-align:left;line-height:35px;}
#news .row p{width:100%;height:30px;border-bottom:1px #cccccc solid;text-align:left;padding-left: 5px;line-height:30px;overflow: hidden;text-overflow: ellipsis}
/*更多*/
#more p{width:98%;height:30px;border-bottom:1px #cccccc solid;overflow: hidden;text-overflow: ellipsis;text-align:left;line-height:30px;margin:0px auto}

/*秘笈详情*/
#newsdetails img{width: 100%!important;height: auto!important;}
/*@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px)
and (orientation : portrait) {
    #details .middleul1 {display: flex!important;justify-content:space-between!important;};
}*/
@media only screen and (max-device-width: 320px) {
    #details .middleul1 {display: flex!important;justify-content:space-between!important;}
    #details .middleul1li {margin:0;font-size: 10px;float: none;width: auto;}
}

/*新版串串彩*/
#home .home_banner{width:100%;height:200px;background:url("../img/account/home_banner.png") no-repeat 0 0;background-size:100% 100%;}
#home .home_title{width:90%;color:#fff;text-align:center;margin:0 auto;font-size:16px;padding-top:10px;}
#home .home_title span{float:right;}
#home .home_content{background-color:#F2F1EF;border-radius:6px;}
#home .home_lottery{background-color:#fff;padding:0 10px;}
#home .lottery_prev_now{line-height:36px;text-align:left;}
#home .lottery_num{width:24px;line-height:24px;border-radius:24px;background-color:#00ABF3;text-align:center;color:#fff;margin-right:4px;}
#home .href_link{width:100%;margin-top:6px;border-bottom:1px solid #F2F1EF;background-color:#FCFCFB;line-height:40px;padding:5px 0;}
#home .link_item{width:33%;text-align:center;border-right:1px solid #F2F1EF;}
#home .link_item:last-child{border:none;}
#home .his-list ul li:nth-child(even){background-color:#F3FAFF;}
#home div.progressBar{background-color:#00ABF3;}
#home .ding_new{display: inline-block;width: 16px;height: 16px;background:url("../img/home/home_new_ding.png") no-repeat;background-size:100% 100%;}
/*用户中心改版*/
    /*account页面的公共样式*/
#account .border_right{border-right:1px solid #F7F7F6;}
#account .border_bottom{border-bottom:1px solid #F7F7F6;}
#account .account_title{padding:10px 0;width:100%;height:170px;background:url('../img/account/account_bg.png') no-repeat;background-size:100% 100%;}
#account .account_title p{text-align:center;color:#fff;line-height:30px;}
#account .account_title div{width:70px;height:70px;border-radius:50%;margin:0 auto;overflow:hidden;}
#account .account_title div img{width:100%;height:100%;}
#account .account_content{background-color:#fff;}
#account .account_item{width:33.3%;height:100px;}
#account .account_img{width:46%;margin:20px auto 10px auto;text-align:center;font-size:12px;color:#000;}
#account .account_img img{width:70%;vertical-align:middle;}
#account .account_img p{margin-top:6px;}
#account .account_btn{width:90%;margin:0 auto;}
#account .account_btn button{width:100%;text-align:center;color:#fff;background-color:#42AAF4;border-radius:40px;}
/*登录页*/
.login_banner{width:100%;height:200px;background:url("../img/login/login_banner.png") no-repeat;background-size:100% 100%;}
.login_logo{position:relative;width:20%;margin:0 auto;height:200px;}
.login_logo img{position:absolute;width:100%;bottom:-15%;padding:4px 4px;background-color:#fff;border-radius:10px;}
#login .login_content{width:70%;margin:20% auto;}
#login .login_item{border:none;border-bottom:1px solid #ddd;margin-top:1px;}
#login .login_icon{height:26px;min-width:24px;line-height:26px;}
#login .login_user{background:url("../img/login/login_user.png") no-repeat;background-size:100% 100%;}
#login .login_password{background:url("../img/login/login_paasword.png") no-repeat;background-size:100% 100%;}
#login .login_code{background:url("../img/login/login_code.png") no-repeat;background-size:100% 100%;}
#login .login_input{margin-left:20px;}
#login .login_help{padding:4px 0;line-height:24px;color:#333;}
#login .login_help div:first-child{width:50%;text-align:left;}
#login .login_help div:last-child{width:50%;text-align:right;}
#login .login_btn{width:100%;margin:10px auto;}
#login .login_btn button{width:100%;color:#fff;border-radius:30px;background-color:#00ABF3;font-weight:600;}
#login .login_regist{text-align:center;}
#login .login_regist span{text-decoration:underline;color:#00ABF3;}

/*个人中心页面*/
#account .my-message{position:absolute;color:#fff;left:10px;top:8px;font-size:26px;}
#account a{text-decoration:none;}

#messageDetail .titleDetail{text-align: center;line-height:2.5rem;font-size: 1.2em;}
/*首页改成轮播图*/
#home .swiper-container-banner .swiper-wrapper{height:150px;}
#home .swiper-container-banner .swiper-wrapper img{width:100%;}
#login .bgActive{background:url('../img/login/login_bg_new.png') no-repeat bottom center;background-size:100%;}

/*代理中心*/
.c-highlight {color: #2c84cb !important;font-weight:600;text-align:center;}
.button-red{background: #44aefa!important;margin:0 auto !important;font-size: 1.2em; text-align: center; width: 96%!important; height: 35px; line-height: 35px; border-radius: 20px; color: #ffffff!important;}
.agency_details{width:100%;background-color:#35BEF5;height:50px;}
.agency_details .agency_details_item{width:25%;height:100%;padding:4px 6px;text-align:center;color:#fff;}
.agency_details .agency_details_item p{margin:0;padding:0;}
.agency_details .agency_details_item p:last-child{font-size:12px;}
#account div.agency_btn{margin:26% auto;}
/*链接开户*/
.link-account {overflow: hidden; padding: 5px 2%; background: #fff;line-height:34px;}
.link-account input{ border: 1px solid #f5f5f5;padding: 0 10px; width: 50%;}
.link-list li{ margin-bottom: 5px;}
.add-link-manage{}
.add-link-manage .add-input{ overflow: hidden;  line-height: 35px; margin-bottom: 10px;}
.add-link-manage .add-input .input-title{height: 35px; line-height: 35px; float: left; text-align: right; width: 24%; display: inline-block;}
.add-link-manage .add-input .input-content{ width: 50%;margin-left: 2%; float: left;}
.add-link-manage .add-input .input-content input{padding-left: 4%; border: 1px solid #ccc; width: 100%; height: 35px; line-height: 35px;}
.add-link-manage .add-input .input-content select{padding-left: 4%; border: 1px solid #ccc; width: 100%; height: 35px; line-height: 35px;}
.add-link-manage .add-input .input-notes{ width: 30%; float: right;}
.add-link-manage .account-radio{ padding-left: 3%; width: 70%; display: inline-block; text-align: center;}
.add-link-manage .design-radio label{ width: 100px; margin-top: 35px!important;}
/*会员列表*/
.person-list{ margin-top: 10px;background: #fff; padding-top: 10px;}
.member-title{ background: #fff; padding: 10px 0;}
.member-title .add-link-manage .add-input .input-content{ width: 70%;}
.member-title .add-link-manage .add-input .input-content select{padding-left: 4%; border: 1px solid #ccc; width: 100%;height: 35px; line-height: 35px;}
.member-title .button-red{ width: 75%!important;}
.time-border{ text-align: center; border: 1px solid #ccc; border-radius: 5px; width: 100%; display: inline-block;}
.agency-onezone-datepicker{width:42%;margin-right:3%;}
.agency-onezone-datepicker div.onezone-datepicker{position:absolute;left:0;z-index:100;}
.agency_table{margin-top:20px;}
.agency_table>div:first-child{background-color:#00A9F6;color:#fff;}
.agency_table .agengcy_tr{line-height:40px;}
.agency_table .agency_table_items1{width:25%;text-align:center;}
.agency_table .agency_table_items2{width:50%;text-align:center;}

.add_members_note{text-align:right;padding-right:4%;color:#f00;font-size:12px;}
/*新增推广链接*/
#add_link .add_link_nav{width:50%;height:26px;margin:10px auto;border:1px solid #00A9F6;border-radius:6px;text-align:center;color:#00A9F6}
#add_link .nav_items{width:50%;line-height:26px;}
#add_link .nav_items:first-child{border-right:1px solid #00A9F6;}
#add_link .active{color:#fff;background-color:#00A9F6;}
#add_link .add_link_content{background-color:#fff;padding:20px 2%;}
#add_link .link_content{margin-bottom:10px;}
#add_link .link_content label{width:30%;text-align:center;line-height:30px;}
#add_link .link_content input{width:70%;height:30px;line-height:30px;background-color:#F7F7F6;}
#add_link .add_link_content button{width: 100%;border: none;color: #fff;background-color: #00A9F6;line-height: 36px;border-radius: 6px;margin-top: 10px}