<ion-modal-view style="background: transparent;">
     <!-- <ion-header-bar style="width: 90%;margin-left: 5%;top: 43px;">
         <div class="buttons" side="right">
             <button class="button button-clear ion-close-round fsblack" ng-click="closePayModal()"></button>
         </div>
         <h1 class="title fsblack">提示</h1>
     </ion-header-bar> -->
    <ion-content class="has-header has-subfooter" style="width: 84%;margin-left: 8%;height:135px;background-color:#fff;border-radius:10px;top:250px;">
        <p style="text-align:center;font-size:1.6em;margin-top:20px;">提示</p>
        <p style="text-align:center;margin-top:5px;margin-bottom:10px;">购买授权之后才能进行操作，尽请谅解。</p>
        <div class="" style="border-top:1px solid #ddd;overflow:hidden;">
            <div class="" style="float:left;width:50%;border-right:1px solid #ddd;height:50px;color:#0072e3;" ng-click="closePayModal()">
                <p style="text-align:center;line-height:50px;">知道了</p>
            </div>
            <div class="" style="float:left;width:50%;position:relative;" ui-sref="pay-rights">
                <p style="text-align:center;line-height:50px;color:#0072e3;">去购买</p>
            </div>
        </div>
     </ion-content>
 </ion-modal-view>
