<ion-view view-title="首页" hide-nav-bar="true" id="home">

    <ion-header-bar align-title="center" class="bar-positive">
        <div class="buttons">
            <i class="icon ion-chevron-left" style="margin-left:10px;" ui-sref="tab.account"></i>
        </div>
        <h1 class="title">关于我们</h1>
    </ion-header-bar>
   <ion-content style="background-color: #f1f1f1;">
       <div style="color: #444;position: relative;z-index: 2;margin-top:20px;padding: 16px;font-size: 16px;">
           <img src="img/login/logo.png" style="margin:20px auto;display:block;width:33.33%;">
           <p style="text-indent:2em;">我们用专心的精神、持专注的态度、做专业的软件。本着这种务实的研发精神，九彩系列软件在功能及操作方面独具创新，不仅功能强大，而且使用极其简单，
               界面功能一目了然，您只需花几分钟时间，即可精通软件全部操作流程！选择九彩系列彩票软件，将让您摆脱繁琐复杂的操作流程，迅速把握投注时机，真正提高您的投注效
               率，加上专业的分析功能，将使彩票投资的成本最低化、效益最大化！
           </p>
           <p style="text-align:right;">串串</p>
       </div>
  </ion-content>
</ion-view>
