<ion-view view-title="登录" hide-nav-bar="true" id="login">
    <ion-header-bar align-title="center" class="bar-positive">
        <div class="buttons">
            <i class="icon ion-chevron-left" style="padding:0 10px;" ui-sref="tab.account"></i>
        </div>
        <h1 class="title">密码管理</h1>
    </ion-header-bar>
    <ion-content scroll="false">
        <div class="login-form" style="top:50% !important;">
            <img src="img/login/logo.png" />

            <label class="item item-input background-transparent border-none">
                <i class="icon ion-ios-unlocked-outline login-icon"></i>
                <input type="password" placeholder="请输入旧密码" ng-model="user.oldPassword" maxlength="12"/>
            </label>
            <label class="item item-input background-transparent">
                <i class="icon ion-ios-unlocked-outline login-icon" style="{{style2}};border:none !important;"></i>
                <input  type="password" placeholder="请输入新密码" ng-model="user.newPassword" maxlength="12"/>
            </label>
            <label class="item item-input background-transparent">
                <i class="icon ion-ios-unlocked-outline login-icon" style="{{style2}};border:none !important;"></i>
                <input  type="password" placeholder="请再次输入密码" ng-model="user.password" maxlength="12"/>
            </label>

            <div ng-click="modification();"  class="main-btn">
                确认修改
            </div>
        </div>
        <!-- <div class="other">
            <span ui-sref="register">账号注册</span>
            <span ng-click="openModal()">联系客服</span>
            <span ui-sref="recharge" ng-show="isOpen == 1">充值帐号</span>
        </div> -->
    </ion-content>
</ion-view>

<!-- <ion-view view-title="登录" hide-nav-bar="true" id="login">
    <ion-content  class="reset" scroll="false">
        <div class="buttons back-up" style="margin-top: 10px">
            <yike-back></yike-back>
        </div>
        <div class="login-form">
            <img src="img/login/logo.png" />
            <input type="password" placeholder="请输入旧密码" ng-model="user.oldPassword" maxlength="12" ng-focus="focus()" ng-blur="blur()"/>
            <input type="password" placeholder="请输入新密码" ng-model="user.newPassword" maxlength="12" ng-focus="focus()" ng-blur="blur()"/>
            <input type="password" placeholder="请再次输入密码" ng-model="user.password" maxlength="12" ng-focus="focus()" ng-blur="blur()"/>
            <button ng-click="modification()">确认</button>
        </div>
    </ion-content>
</ion-view> -->
